<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newpro"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion"/>

    <application
        android:allowBackup="true"
        android:label="fuji"
        android:roundIcon="@color/white"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="m"
        android:icon="@drawable/wod">
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".Promotion899"
            android:exported="false" />
        <activity
            android:name=".Promotion599"
            android:exported="false" />
        <activity
            android:name=".Promotion"
            android:exported="false" />
        <activity
            android:name=".RegisterUser"
            android:exported="false" />
        <activity
            android:name=".Editprofileuser"
            android:exported="false" />
        <activity
            android:name=".Booking"
            android:exported="false" />

        <activity
            android:name=".HomeUser"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashSn"
            android:exported="true"
            android:label="fuji"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>



<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    package="com.example.newpro">-->

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/Theme.Newpro">-->
<!--        <activity-->
<!--            android:name=".SplashSn"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--    </application>-->

<!--</manifest>-->